@model Asamblea

@{
    ViewData["Title"] = "Eliminar Asamblea";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Está seguro que desea eliminar esta asamblea?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Model.Fecha.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class="col-sm-2">
            Creada por
        </dt>
        <dd class="col-sm-10">
            @Model.Creador.Nombre @Model.Creador.Apellido
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Confirmar Eliminación
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Cancelar
        </a>
    </form>
</div>