@model VotingSystem.Models.Asamblea

@{
    ViewData["Title"] = "Eliminar Asamblea";
}


<h3>¿Está seguro que desea eliminar esta asamblea?</h3>
<div>
    <h4>Asamblea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            Creador
        </dt>
        <dd class="col-sm-10">
            @(Model.Creador?.Nombre + " " + Model.Creador?.Apellido)
        </dd>
    </dl>

    <form asp-action="DeleteAsamblea">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="IndexAsambleas" class="btn btn-secondary">Cancelar</a>
    </form>
</div>