@model dynamic

@{
    ViewData["Title"] = "Detalle del Reporte";
}

<div class="card mt-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Creador</dt>
            <dd class="col-sm-9">
                @Model.Reporte.GeneradoPorNavigation?.Nombre @Model.Reporte.GeneradoPorNavigation?.Apellido
            </dd>
            @if (Model.Asamblea != null)
            {
                <dt class="col-sm-3">Reporte de Asamblea</dt>
                <dd class="col-sm-9">@Model.Asamblea.Titulo</dd>
                <dt class="col-sm-3">Fecha</dt>
                <dd class="col-sm-9">@Model.Asamblea.Fecha.ToString("dd/MM/yyyy")</dd>
            }

        </dl>

        @if (Model.Votaciones != null)
        {
            foreach (var votacion in Model.Votaciones)
            {
                <hr />
                <h5>Votación ID: @votacion.Id</h5>
                <strong>Título:</strong> @votacion.Titulo
                <br />
                @foreach (var opcion in votacion.Opciones)
                {
                    <div>
                        <span><strong>"@opcion.Texto"</strong>: "@opcion.Descripcion"</span>
                    </div>
                }
                <div class="mt-2 mb-2"><strong>Resultados:</strong></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Cantidad de votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var opcion in votacion.Opciones)
                        {
                            <tr>
                                <td>@opcion.Texto</td>
                                <td>@opcion.CantidadVotos</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

        <hr />
        <h5>Participantes:</h5>
        <ul>
            @foreach (var p in Model.Participantes)
            {
                <li>@p.Nombre (@p.Email)</li>
            }
        </ul>

        <a asp-action="Index" class="btn btn-secondary mt-3"><i class="fas fa-arrow-left"></i> Volver a la lista</a>
    </div>
</div>
